@page "/info"
@page "/info/{idRoom}"
@page "/info/{idRoom}/{IsPromo}"
@page "/myrooms"


@using Models;
@using SardiniaVillageServer.Pages.Hotels.Components;
@using SardiniaVillageServer.Data
@inject RoomsService roomsService

<h2 class="bg-light border p-2">
    Info Stanze
</h2>

<TestChildComp maxlength="5" Required="Required" PlaceHolder="Descrizione Stanza 2" Intestazione="Ricerca Stanze"></TestChildComp>

<div class="row">
    @foreach (var Myroom in RoomList)
    {
        <div class="roomCard">
            <CascadingValue Value="@InfoPromo" Name="Messaggio1">
                <CascadingValue Value="@InfoPromo2" Name="Messaggio2">
                    <Room room=Myroom OnRoomClick="BookRoom">
                        <ChildContent>@((Myroom.IsFree) ? "Libera" : "Occupata")</ChildContent>
                        <InfoScadenza>@((Myroom.IsFree) ? "" : "sino al 15/06/21")</InfoScadenza>
                    </Room>
                </CascadingValue>
            </CascadingValue>
        </div>
    }
</div>

@if (@BookedRoom != null)
{
    <span>Prenota la stanza @BookedRoom.Description cliccando <a href="bookroom?IdRoom=@BookedRoom.Id&Promo=true">qui</a></span>
}


@code {

    public Rooms BookedRoom { get; set; }

    [Parameter]
    public string idRoom { get; set; }
    [Parameter]
    public string IsPromo { get; set; }

    public string InfoPromo = "Stanza in Promozione";
    public string InfoPromo2 = "Stanza Non Disponibile";

    List<Rooms> RoomList;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (idRoom != null)
        {
            RoomList = roomsService.GetRooms().Where(e => e.Id == Int16.Parse(idRoom)).ToList();
        }
        else
        {
            RoomList = roomsService.GetRooms();
        }


    }

    protected void BookRoom(int idRoom)
    {
        this.BookedRoom = this.RoomList.Where(e => e.Id == idRoom).First();

        //this.BookedRoom = room;

    }

}
